<div class="top-hero-wrapper text-center">
 <div class="head">
  <div class="container">
    <div class="header-left">
      <p>トコCAN!</p>
    </div>
  </div>
</div>

  <div class="container top-hero-container">
    <h1 class="top-text">学生生活はそれで十分ですか？</h1>
    <h3 class="top-sub-text">学生が学生のために貢献するトコキャン生専用プラットフォーム</h3>
    <div class="top-botton">
    <div class="row">
      <div class="col-md-7">
        <%= link_to 'Join', 'chushions/index',class:'btn btn-block btn-white' %>
      </div>
     </div>
   </div>
  </div>
</div>

<div class="intro-wrapper text-center">
  <div class="container intro-wrapper-container">
    <h1 class="intro-title">Intro</h1>
    <p class="intro-description">トコCAN!に関する説明</p>
  </div>
</div>

<div class="about-wrapper text-center">
  <div class="container about-wrapper-container">
    <h1 class="about-title">About</h1>
    <div class="row">
      <p class="col-md-6">おすすめ情報提供したい</p>
      <p class="col-md-6">おすすめ情報を知りたい</p>
    </div>
    <div class="row">
      <div class="col-md-offset-3 col-md-4 col-md-offset-3">
        <h2 class="about-text">情報共有が簡単に！</h2>
      </div>
    </div>
      <div class="about-description text-center">
       <div class="line-direction">
         <p>--------------------＞</p>
         <p>＜--------------------</p>
       </div>
       <div class="about-catch">
         <h2>キャンパス全体でムラ情報を共有</h2><br>
         <h2 class="green-text">ムラからキャンパスへ</h2>
       </div>
     </div>
   </div>
 </div>

 <div class="detail-wrapper text-center">
   <div class="container detail-wrapper-container">
     <h1 class="detail-title">Detail</h1>
     <div class="row">
       <div class="col-md-6">
         <h3>良質な記事を書いた人</h3>
       </div>
       <div class="col-md-6">
         <h3>運営側</h3>
       </div>
     </div>
     <div class="row">
       <div class="col-md-offset-5 col-md-2 col-md-offset-5 detail-line">
         <p>＜ーー</p>
       </div>
     </div>
     <div class="row">
      <div class="col-md-offset-5 col-md-2 col-md-offset-5 token">
       <p>トークン</p>
      </div>
    </div>
       <div class="row">
         <div class="col-md-6">
           <h3 class="detail-description1">良質な記事とは</h3>
             <p class="detail-eva1">記事のいいね数とPV数で測ります</p>
           </div>
           <div class="col-md-6">
             <h3 class="detail-description2">トークンとは</h3>
             <p class="detail-eva2">トコCAN!と提携しているオフライン・<br>オンラインの店舗で利用可能な電子通貨</p>
           </div>
         </div>
       </div>
     </div>
